<h1>Products#index</h1>

Create <%= link_to "NEW", new_product_path %> <br>

<% @products.each do |product| %>
    <p class="product">

      <%= render product %>

      <%= render 'owner', user: product.user %>

      <span class="product_edit"><%= button_to :edit, edit_product_path(product.id), method: :get %></span>
      <span class="product_delete"><%= button_to :delete, product_path(product.id), method: :delete %></span>

    </p>
<% end %>
