<h1 style="color: red">NEW</h1>


<%= form_for :deal, url: products_path do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :description %>
    <%= f.text_area :description %>

    <%= f.label :price %>
    <%= f.text_field :price %>

    <%= f.select :user_id, options_for_select(@users, @users.first) %>
    <%= f.submit %>
<% end %>
